.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
    width: 100%;
    height: 120px;
    background-color: rgb(22 22 22)
}

h1 {
    font-size: 45px !important;
    font-weight: 900 !important;
}

.footer {
    text-align: center;
    color: white;
    width: 100%;
    height: 8%;
    font-size: 20px;
    background-color: rgb(0 0 0);
    position: relative;
    bottom: 0;
}

.container {
    min-width: 100% !important;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.err-container {
    width: 80% !important;
    margin: 10% auto;
    padding: 30px;
    background-color: transparent;
    border: none;
    color: rgb(120, 120, 120);
    text-align: justify;
    font-size: 30px;
}

.form-heading, .nav-title, .err-title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin: 10px 0 20px 0;
}

.err-title {
    font-size: 60px !important;
}

.nav-title {
    font-size: 25px !important;
    margin-top: 20px;
}

* {
    box-sizing: border-box;
}

.label {
    width: 80%;
    font-size: 21px;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.submit {
    width: 25%;
    padding: 10px 15px;
    margin: 20px 0;
    font-size: 21px;
    font-family: 'Quicksand';
    color: white;
    border-radius: 30px;
    font-weight: bolder !important;
    border: none;
    background-color: rgb(245, 75, 0);
    cursor: pointer;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: transparent;
    position: relative;
    display: inline-block;
}

.nav-view {
    min-width: fit-content !important;
    width: 10%;
    height: 50px !important;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(245, 75, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 8px 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

    .nav-view > div {
        margin: 5px auto;
        margin-right: 8px !important;
    }


.nav-drop {
    display: none;
    width: 80%;
    position: absolute;
    top: 10px;
    left: 40px;
    background-color: rgb(52, 52, 52, 0.90);
    border-radius: 10px;
    padding: 20px 30px;
    z-index: 10;
}


.searchbar {
    width: 80%;
    position: relative;
    margin-bottom: 20px;
}

.searchbox {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: gray;
    border-radius: 10px;
    outline: none;
    border: 2px solid lightgray;
}

    .searchbox:hover {
        border: 2px solid rgb(245, 120, 0)
    }

.search-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    right: 2%;
}

.radio-box {
    display: flex;
}

.radio{
    list-style-type: none;
    display : flex;
    justify-content: center;
    gap: 20px
}

.card {
    width: 280px;
    height: 330px;
    border: none;
    border-radius: 20px !important;
    position: relative;
    cursor: pointer;
    transition: top 1ms;
    overflow-y: scroll;
}

    .card::-webkit-scrollbar {
        display: none;
    }

img[class^='img'] {
    width: 100%;
    height: 280px !important;
    filter: opacity(0.9);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    filter: saturate(1.5);
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.card:hover img[class^='img'] {
    opacity: 0.8
}

.heart-svg {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
}

div[class^='card-text'] {
    min-width: fit-content;
    font-family: 'Ubuntu';
    padding: 8px 10px;
    text-align: center;
    color: black;
    font-size: 20px;
}


.featured {
    padding: 5px 15px;
    font-size: 15px;
    font-family: 'Quicksand';
    position: absolute;
    border: none;
    border-radius: 20px;
    top: 15px;
    left: 15px;
    z-index: 2;
    color: black;
    background-color: rgb(255,215,0);
    box-shadow: -2px 3px 3px 3px rgb(0, 0, 0, 0.20);
    font-weight: bold;
}

.flashes {
    display: block;
    margin: 10px auto;
    color: rgb(216, 0, 0);
    min-width: fit-content;
    background-color: transparent;
    font-family: 'Quicksand';
    font-size: 22px;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

    .flashes li {
        cursor: pointer;
    }
